nav, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
#nav {
		width:100%;
		font-size: 1.00em;
		background: map-get($color, 'main');
	}

#nav label {
  position: relative;
  display: block;
  min-height: 2em;
  padding: .45em;
  font-size: 1.1em;
  margin: 0;
  background: map-get($color, 'main');
  line-height: 2em;
  color: black;
}

#nav label:after {
  position: absolute;
  right: 1em;
  top: .2em;
  content: "\2261";
  font-size: 1.8em;
  color: black;
}

#nav input.trigger {
  position: absolute;
  display:none;
}

#nav input.trigger:checked ~ ul, #nav input.trigger:checked ~ ul li ul {
  display: block !important;
}

#nav>ul {

  display: none;
  width: 100%;
  position: relative;
}

#nav ul li a {
  display: block;
  padding: 1em;
  font-style: oblique;
  font-weight: bolder;
  background: map-get($color, 'main');
  color: black;
  opacity: 0.9;


}

#nav ul.megamenu ul li a {
  color: red;
  padding-left: 3em;
}

#nav ul.megamenu ul {
  padding: 0;
  margin: 0;

  background: map-get($color, 'main');
}



@include respond-to('medium') {
  #nav label {
    display: none;
  }

#nav ul li {

  flex: 1;
}
  #nav > ul {

      display: flex;
      flex-flow: row wrap;
      justify-content: center;

  margin: 0 auto;
  padding: 0;
    }

    #nav ul.megamenu {
position: absolute;
display: flex;
flex-flow: row wrap;
width: 100%;
opacity: 0.9;
top: -9999px;
left: 0;
padding: 40px 40px 0 40px;
background: map-get($color, 'main');
text-align: left;
border-top: 5px solid black;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
z-index: 1;
      }

      #nav ul li:hover ul.megamenu {
  top: 100%;
}
#nav ul.megamenu ul {
  flex: 1 1 25%;
  margin-bottom: 40px;
  color: #000;
  box-shadow: none;
}

#nav ul li {

  color: blue;
  transition: 0.5s;
}
#nav > ul > li:hover {
  background: black;
  opacity: 1;
}

#nav ul.megamenu ul li {
  display: block;

}

#nav a {
  display: block;
  color: white;
}
#nav > ul > li > a {
  padding: 15px 25px;
}
#nav ul > li.submenu > a:after {
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
  border-bottom: 5px solid transparent;

}
#nav ul > li.submenu:hover > a:after {
  margin-top: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid red;
}
#nav ul.megamenu ul li a {
  margin-top: 0.625em;
  transition: 0.5s;
  padding-left: 0;
}


}
