.flex-card1{
@extend %card;
display: flex;
align-items: center;
flex-flow: column;



h1, p {
  font-weight: lighter;
  color: red;


}
h1, {
  text-align: center;
}

.resize {
width: 330px;
height: auto;


}


}

.flex-card2 {
@extend %card2;
@include transition;
padding-left: 30px;
h1 {
color: red;
}
}








#content {

  justify-content: center;
  display: flex;
  flex-flow: column wrap;
}



#content {
@include respond-to('medium') {
align-items: center;
display: flex;
flex-flow: row wrap;


.flex-card2{


@include each(2)
{
  
  width: 700px;
}
}
}
}
