.footer {
  width: 100%;
  background-color: map-get($color, 'brownie');
  background-image: url("../images/binding-dark.png");


color: white;
display: flex;
flex-flow: column wrap;
justify-content: space-around;
align-items: center;



@include respond-to('medium') {
  display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}

}

.column {
flex: 1;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;

@include respond-to('medium') {

    display: flex;
    justify-content: center;
  }



}
