
//Modern border-box applied everywhere.
html {
  box-sizing: border-box;
}

// inherit box-sizing
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
background-color: #405275;
background-image: url("../images/South-Africa-Safari.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;

}
