.flex-card{
width: 100%;
border: 5px solid black;
min-height: 250px;
padding-: 10px;
margin: 10px;
font-size: 0.9em;
background-color: black;
opacity: 0.9;


h1, p {
  font-weight: lighter;
  color: white;

}
h1, {
  text-align: center;
}
p {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}


.resize {
  width: 100px;
  height: auto;

}



}

#content {
  display: flex;
  flex-wrap: wrap;
}



#content {
@include respond-to('medium') {
justify-content: center;
display: flex;
flex-flow: row wrap;


.flex-card{
  width: 350px;

@include each(5)
{
  width: 700px;
}
}
}
}
