// Modern border-box applied everywhere.
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
background-color: #ADD8E6;

background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;

}
